@import "tailwindcss";
@import "konsta/vue/theme.css";

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans transition-colors duration-200;
}

.scrollable {
  scrollbar-color: #bcc6ec transparent;
}

.k-toolbar [tabbar] {
    --bg-gradient-direction: to bottom;
    --bg-gradient-opacity: 0.25;
    border-right: solid 1px rgba(150, 150, 150, 0.24);
    border-left: solid 1px rgba(0, 0, 0, 0.2);
}

.k-toolbar.top-0 [tabbar] {
    margin-bottom: -4px;
}
.k-toolbar.bottom-0 [tabbar] {
    --bg-gradient-direction: to top;    
    margin-top: -4px;
}
.light .k-toolbar [tabbar] {
    --bg-gradient-opacity: 1;
}

.k-toolbar [tabbar].k-tabbar-link-active {
    background: linear-gradient(
        var(--bg-gradient-direction),
        transparent 0%,
        alpha(from var(--k-color-md-dark-primary) / var(--bg-gradient-opacity)) 90%
    );
}

.k-toolbar [tabbar]:first-child {
    border-left: none;
}

.k-toolbar [tabbar]:right-child {
    border-right: none;
}

.k-toolbar.sticky {
    --shadow-color: black;
    box-shadow: 0 0 20px var(--shadow-color);
}

.light .k-toolbar.sticky {
    --shadow-color: grey;
}